.logo-and-title h1{
  padding: 32px;
  color: rgba(239, 243, 247, 0.936);
  font-style: italic;
  font-family:Cambria;
  font-size: 34px;


}

.nav .scroll-to-section{
  margin-top: -100px;
}
.main-banner .header-text h6 {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
  color: #7875759c;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-banner .header-text h2 {
  position: relative;
  z-index: 2;
  margin: top 2px;
  font-size: 35px;
  color: #131212ea;
  font-weight: 900;
  line-height: 74px;
  margin-bottom: 40px;
}
