
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<section class="main-banner" id="top">
<div class="container">
  <div class="row">
    <div class="col-lg-6 align-self-center">
      <div class="header-text">
        <h6 >Feel better with Mr DoctRobot </h6>
        <h2 class="flottant">Do you have any physical health concerns you'd like to <em>discuss? </em></h2>
        <div class="main-button-gradient">
          <div class="scroll-to-section"><a routerLink="/signin">Let's chat now!</a></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="right-image">
        <img  src=".\assets\images\tel.GIF" alt="" style="border-radius: 33%;">
      </div>
    </div>
  </div>
</div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="our-info" id="courses">
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="section-heading">
        <h6>OUR SERVICES</h6>
        <h4>The <em>best</em> treasure that we can offer you </h4>
        <p>Your <em>health</em> is an investment not an expense</p>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="naccs">
        <div class="tabs">
          <div class="row">
            <div class="col-lg-3">
              <div class="menu">
                <div class="gradient-border"><span>Vitality</span></div>
                <div class="gradient-border"><span>Energy</span></div>
                <div class="gradient-border"><span>Healthiness</span></div>
              </div>
            </div>
            <div class="col-lg-9">
              <ul class="nacc">
                <li class="active">
                  <div>
                    <div class="left-image">
                      <img src="assets/images/courses-01.jpg" alt="">
                    </div>
                    <div class="right-content">
                      <h4>Positive Energy</h4>
                      <p>The best way to find yourself is to lose yourself in our efficient service. </p>
                    <p>Taking care of your body is a powerful way to take care of your mind and soul because
                      your health is a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity.</p>
                      <span>Secondes</span>
                      <span>Minutes</span>
                      <span>Hours</span>
                      <span>Weeks</span>
                      <div class="text-button">
                        <a routerLink="/signin">Availability</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- greetings -->

<section class="simple-cta">
<div class="container">
  <div class="row">
    <div class="col-lg-5 offset-lg-1">
      <div class="left-image">
        <img src=".\assets\images\chatbot-development-with-deep-nlp.png" alt="" style="border-radius: 45%; ">
      </div>
    </div>
    <div class="col-lg-5 align-self-center">
      <h4>We are grateful for the opportunity to serve as your medical solution</h4>
      <p> We take the privacy and security of our users' information very seriously, and we believe it is important to be transparent about the measures we have taken to protect their data. Our chatbot utilizes encryption to secure communication between the user
        and the chatbot, ensuring that any sensitive information exchanged is kept confidential.</p>
      <div class="white-button">
        <a routerLink="/signin">Chat Now</a>
      </div>
    </div>
  </div>
</div>
</section>

<!-- testimonials -->

<section class="testimonials" id="testimonials">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h6>Testimonials</h6>
        <h4>What They <em>Think</em></h4>
      </div>
    </div>
    <div class="col-lg-12">


        <div class="item">
          <p>“I was hesitant at first to use a chatbot for my healthcare needs, but it has been such a helpful
            resource. It's so convenient.”</p>
            <h4>Myra Machfer</h4>
            <span>Student </span> <br>
            <img src="/assets/images/quote.png" alt="">
        </div>
        <div class="item">
          <p>“ love the healthcare chatbot on this website! It's like having a personal assistant for all my healthcare needs.”</p>
            <h4>Mayar Jeyda</h4>
            <span>CTO of Tech Company</span> <br>
            <img src="assets/images/quote.png" alt="">
        </div>
        <div class="item">
          <p>“The chatbot is always available to answer my questions, and it has helped me stay on top of my health and wellness goals”</p>
            <h4>Sophi Sbaa</h4>
            <span>Architecte</span> <br>
            <img src="assets/images/quote.png" alt="">
        </div>
        <div class="item">
          <p>“The chatbot on this website has been a lifesaver for me. I was struggling to find answers to my healthcare questions,
            but the chatbot provided me with quick and accurate information.”</p>
            <h4>Helen Shiny</h4>
            <span>Tech Officer</span> <br>
            <img src="assets/images/quote.png" alt="">
        </div>

        <div class="item">
          <p>“As someone who has a chronic illness, managing my healthcare can be overwhelming at times. But the healthcare chatbot on this website has made it so much easier.”</p>
            <h4>Zied Nouri</h4>
            <span>Fashion Designer</span> <br>
            <img src="assets/images/quote.png" alt="">
        </div>
        <div class="item">
          <p>“this website has given me peace of mind and has been a great resource for my healthcare needs,it's been a game-changer
            for me and has helped me feel more in control of my healthcare.”</p>
            <h4>Assal Abu chahd</h4>
            <span>Designer</span> <br> <br>
            <img src="assets/images/quote.png" alt="">
        </div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>

