<section class="about">
<h1><strong> Healthcare by empowering doctors with artificial intelligence </strong></h1> <br>
<div class="container">
  <p>We want to put an accessible and affordable health service into the hands of every person on Earth. And to do that, we’re combining human expertise with the power of technology. We built a suite of tools, designed around a doctor’s brain, using Artificial Intelligence (AI). It’s what makes us so different from other healthcare providers.</p>
  <p>AI is a transformational force in healthcare. It helps medical professionals work faster, see more patients, and make decisions based on user-inputted information. It helps patients address symptoms, get faster information about conditions, and proceed to treatment sooner. </p>
  <p>Our AI system can efficiently read, comprehend, and learn from anonymized, aggregated, and medical datasets—when patients give consent for us to use their health information in this way. And our complementary set of AI tools can help make decisions about triage, causes of symptoms, and future health predictions</p>
</div>
</section>
<section class="sect1">
  <div class="box">
    <div class="container">
       <div class="section-left ">
       <img src=".\assets\images\phone.GIF" alt="doctor">
       </div>

       <div class="section-right">
       <p>Meet our DoctoRobot. Unlike traditional healthcare providers, it focuses on both preventative and primary care. DoctoRobot gives you the tools and advice to stay healthy, and 24/7 access to care when you're sick. All from your device</p>
       <h1>We're creating a better model of healthcare</h1>
      <p>Shifting the focus of healthcare from sick to preventative care can result in better health and reduced costs. That's why we're combining AI and technology with human medical expertise to create all-in-one healthcare, right from your device. We believe it's a better model of healthcare for everyone.</p>
      <button type="submit" class="btn btn-success d-inline-block mr-2"> Go check</button>
    </div>
    </div>

  </div>
</section>
 <section class="sect2">
  <div class="box">
    <div class="container">
       <div class="section-left ">
       <img src=".\assets\images\625e1bc08690a76fe37de4d7_Youper-about-hero@2x-p-800.webp" alt="doctor">
       </div>

       <div class="section-right">
      <h1> Goodbye traditional healthcare providers and welcome DoctoRobot</h1>
       <p> Meet DoctoRobot. Unlike traditional healthcare providers, it focuses on both preventative and primary care. DoctoRobot gives you the tools and advice to stay healthy,
         and 24/7 access to care when you're sick. All from your device.</p>
      <a href="/">Discover DoctoRobot</a>
    </div>
    </div>

  </div>

</section>

<section class="sect3">
    <div class="container">

      <div class="section-right">
        <div class="container-box">
      <p>Feeling off? Want to check your symptoms? Or want to find out how healthy you are?
        Our free digital health tools are here for you 24/7.
        Meet Symptom Checker and My Health.</p>
        <h1>Affordable and accessible healthcare in the
          hands of everyone on Earth</h1>
        <p>To achieve our mission of creating a better model of healthcare,
           we're combining AI and technology with human expertise.</p>
      </div>
    </div>

    <div class="section-left">
      <img src=".\assets\images\22.GIF" alt="DoctoRobot">

    </div>
  </div>


</section>

<section class="sect4">
  <div class="footer">
    <p>© 2023 All Rights Reserved by <a href="/">HealthMatchCare</a></p>
  </div>
</section>




