<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                <div class="logo-and-title">
                  <a href="/" class="logo">
                    <img src=".\assets\images\pngtre.png" alt="DoctRobot Template"  height="90px">
                  </a>
                  <h1 class="title"><strong>Docto<em style="color: rgba(155, 94, 162, 0.608);">R</em>obot</strong> </h1>
                </div>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="#top" class="active" >Home</a></li>
                      <li class="scroll-to-section"><a routerLink="/about">About Us</a></li>
                      <li class="scroll-to-section"><a routerLink="/signin">Chat</a></li>

                      <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li>
                      <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
